<html>
  <head>
    <%- include('head')  %>
        <link rel="icon" type="image/x-icon" href="/Image/autoin_icon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="content">
      <%- include('nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('./Image/about_WH.jpg');"></div>
        <div class="content-center">
            <div class="container">
              <h1 class="title">This is our great company.</h1>
            </div>
        </div>
        </div>

        <!-- <div class="container mb-3"> -->
        <div class="container">
            <h2>How to use AUTOINVEN+IoT</h2>
            <section id="faq">
                <ul id="faq-list" class="wow fadeInUp">
                    <li>
                        <a data-toggle="collapse" class="collapsed" href="#faq1">창고 등록 방법 </a>
                        <div id="faq1" class="collapse" data-parent="#faq-list">
                        <p>창고번호, 창고이름, 창고주소...</p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq2" class="collapsed">창고 IoT 사용 신청</a>
                        <div id="faq2" class="collapse" data-parent="#faq-list">
                        <p>창고 등록 후 사용 신청하기</p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq3" class="collapsed">창고 대여 방법</a>
                        <div id="faq3" class="collapse" data-parent="#faq-list">
                        <p>사용기간, 사용할 면적 선택 후 결제</p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq4" class="collapsed">결제 방법</a>
                        <div id="faq4" class="collapse" data-parent="#faq-list">
                        <p>ㅇㅅㅇ...</p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq5" class="collapsed">언어</a>
                        <div id="faq5" class="collapse" data-parent="#faq-list">
                        <p>나중에 다 영어로 바꾸기</p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="overlay"></div>
  </body>
</html>