
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: rgb(245, 245, 245);
  height: 100%;
  width: 1000px;
  /*font-family: Dotum, '돋움', Helvetica, sans-serif;*/
}

.header{
  border-bottom: #1a1a1b;
  margin-top: 20px;
  margin-left: 20px;
  width: 500px;
}


.nav {
  float: left;
  position: fixed;
  left: -100px;
  top: 0;
  width: 300px;
  height: 600px;
  background: #7b68ee;
  border-radius: 0 20% 80% 0;
  transition: all .4s;
}

.nav.on {
  left: 0;
  border-radius: 0;
}

.nav nav {
  opacity: 0;
  visibility: hidden;
  transition: all .5s .2s;
}

.nav.on nav {
  opacity: 1;
  visibility: visible;
}

.nav .menu {
  position: absolute;
  right: 100px;
  top: 40px;
  z-index: 10;
  display: block;
  width: 50px;
  height: 50px;
}

.nav .menu i {
  position: absolute;
  font-size: 0;
}

.nav .menu span {
  display: block;
  width: 100%;
  height: 5px;
  background: #000;
  transition: all .5s;
}

.nav .menu span~span {
  margin: 10px 0 0;
}

.nav .menu span:nth-of-type(1) {
  transform: rotate(0deg) translateY(0);
  transform-origin: left top;
}

.nav .menu span:nth-of-type(2) {
  transform: translateX(0);
  opacity: 1;
}

.nav .menu span:nth-of-type(3) {
  transform: rotate(0deg);
  transform-origin: left top;
}

.nav .menu.on span:nth-of-type(1) {
  transform: rotate(45deg) translateY(-6px);
}

.nav .menu.on span:nth-of-type(2) {
  transform: translateX(40px);
  opacity: 0;
}

.nav .menu.on span:nth-of-type(3) {
  transform: rotate(-45deg);
}

.nav nav {
  padding: 100px 30px 0;
}

.nav li {
  padding: 5px 0px 5px 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
}

.nav li a {
  font-size: 18px;
  color: #FFF;
  line-height: 50px;
  font-weight: 800;
}

.click {
  cursor: pointer;
}

.warehousingContent {
  display: block;
  padding: 50px;
  margin: 20px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
}

.whTable {
  margin: 0 auto;
  border: 1px soild black;
  text-align: center;
  width: 600px;
}

th {
  border: 1px solid #e0e0e0;
  font-weight: 800;
  padding: 10px;
}

td {
  border: 1px solid #e0e0e0;
  padding: 3px;
}

tr {
  background-color: #FFF;
}

.checkBtn {
  width: 50px;
  height: 30px;
  border: 1px solid #787878;
  background-color: yellowgreen;
  color: white;
  font-weight: 500;
}

.checkBtn:hover {
  color: black;
}

.whRegBtn{
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     font-size:24px;
     margin-left: 20px;
     margin-right: 3px;
     margin-bottom: 5px;
     float: left;
 }
 .whRegTestBtn{
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     font-size:24px;
     margin-bottom: 5px;
     position: relative;
     float: left; 
 }
 .RegBtn{
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     font-size:24px;
     margin-top: 10px;
     margin-left: 20px;
     margin-right: 3px;
     float: left;
 }
 .CanBtn{
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     font-size:24px;
     margin-top: -6px;
     float: left; 
 }

/* monitoring page css*/
.sensor {
  display: inline-block;
  margin: 30px;
  padding: 40px;
  background: white;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all .3s ease;
}

.sensor:hover {
  border-color: #7b68ee;
  transform: translateY(-5px);
  box-shadow: 5px 5px 11px 2px rgba(27, 35, 80, 0.12);
}

/* mypage css*/
.userInfo {
  display: block;
  padding: 100px 50px 100px 50px;
  margin: 20px;
  margin-left: 250px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  text-align: center;
}

img {
  width: 120px;
}

h2 {
  margin: 30px;
}