.table-monitor {
    margin-left: 200px;
    text-align: center;
}

.sensor {
    display: inline-block;
    margin: 30px;
    padding: 40px;
    background: white;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all .3s ease;
}

.sensor:hover {
    border-color: #7b68ee;
    transform: translateY(-5px);
    box-shadow: 5px 5px 11px 2px rgba(27, 35, 80, 0.12);
}
