<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AUTOINVEN</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/home.css" />
</head>

<body>
  <div class="main">
    <div class="main_img">
      <img src="/public/images/home_warehouse.jpg" alt="home_warehouse" />
    </div>
    <div class="main_title">
      <img src="/public/images/main_logo.png" alt="main_logo" />
    </div>
    <span class="main_text">
      IoT를 활용하여</br>
      실시간 모니터링 서비스를 제공하는</br>
      스마트 창고관리 시스템</br>
    </span>
    <div class="btn">
      <div class="btn_login">
        <a href="/login" >LOGIN</a>
      </div>
      <div class="btn_join">
        <a href="/join" >SIGN IN</a>
      </div>
    </div>
  </div>
</body>

</html>