<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTOINVEN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/public/stylesheets/home.css" />
</head>

<body>
<!--HEADER-->
<header>
    <div class="inner">
        <a href="/" class="logo">
            <img src="/public/images/home_logo.png" alt="AUTOINVEN" />
        </a>
    </div>
</header>
<section class="service-start">
    <div class="inner">
        <img src="/public/images/home_bg.jpg" alt="WAREHOUSE" class="homebg">
        <div class="text-group">
            <img src="/public/images/home_text1.png" alt="text1" class="title" />
            <div class="starting">
                <a href="/join" class="join">SIGN IN</a>
                <a href="/login" class="login">LOGIN</a>
            </div>
        </div>

    </div>
</section>

</body>

</html>