<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('../head') %>
  <meta charset="utf-8">
  <title>실시간 창고 확인</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/CSS/iot.css" />
  <script src="/JS/monitoring.js"></script>
</head>

<body>
  <div id="content">
    <%- include('nav') %>
    <div class="container">
      <div class="sensor">
          <canvas id="chart1" width="350" height="350"></canvas>
      </div>
      <div class="sensor">
          <canvas id="chart2" width="350" height="350"></canvas>
      </div>
      <div class="sensor">
          <canvas id="chart3" width="350" height="350"></canvas>
      </div>
      <div class="sensor">
          <canvas id="chart4" width="350" height="350"></canvas>
      </div>
    </div>
  </div>

</body>
</html>
