<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/CSS/iot.css">
    <link rel="stylesheet" href="/CSS/mypage.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <%- include('nav') %>

    <div class="userInfo">
            <tr><img  src="/Image/user.png" alt="User"></tr>
            <tr><h2><%= uname %>님 환영합니다.</h2></tr>
        </table>
    </div>
</body>
</html>
