<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../head') %>
  <meta charset="utf-8">
  <title>물품 등록</title>
  <link rel="stylesheet" href="/CSS/iot.css" />
</head>

<body>
  <div id="content">
    <%- include('nav') %>
    <div class="container">
      <div class="container mb-3">
        <h2 class="mb-3">입고 물품</h2>
      </div>

      <form action="registerItem" method="POST">
        <div class="table-responsive">
          <table class="board-table table">
            <thead class="thead-dark">
              <tr>
                <th>Info List</th>
                <th>Product Info</th>
              </tr>
            </thead>
            <tbody class="table-bg">
            <tr>
              <th>RFID</th>
              <td><input type="text" name="rfid" class="box" ></td>
            </tr>
            <tr>
              <th>Product Name</th>
              <td><input type="text" name="name" class="box" ></td>
            </tr>
            <tr>
              <th>Product Quantity</th>
              <td><input type="number" name="num" class="box" ></td>
            </tr>
          </tbody>
          </table>
        </div>
        <button class="btn btn-primary two_btn">등록</button>
      </form>
      <button class="btn btn-primary two_btn" onclick="location.href='warehousing'">취소</button>
    </div>

  </div>
</body>

</html>
