<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/CSS/iot.css">
        <title>AUTOINVEN: 물품 등록</title>
        <link rel="icon" type="image/x-icon" href="/Image/autoin_icon.ico" />
    </head>
    <body>
        <div class="header">
            <p style="border-bottom: 3px solid #5f4ebd; padding: 0.1em; font-size: 25"><b>물품 등록</b></p>
        </div>

        <div class="warehousingContent">
            <form action="registerItem" method="POST">
                <table width="500" class="outline">
                    <tr>
                        <th>RFID</th>
                        <td><input type="text" name="rfid" class="box"></td>
                    </tr>
                    <tr>
                        <th>물품명</th>
                        <td><input type="text" name="name" class="box"></td>
                    </tr>
                    <tr>
                        <th>물품수량</th>
                        <td><input type="number" name="num" class="box"></td>
                    </tr>
                </table>
                <button class = "RegBtn">등록</button>
            </form>
            <button class = "CanBtn" onclick="location.href='warehousing'">취소</button>
        </div>
    </body>
</html>
